<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="dark"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="state==2" ion-text color="primary"> Orders on Transit</span>
      <span *ngIf="state==3" ion-text color="primary"> Delivered Orders</span>
      <span *ngIf="state==4" ion-text color="primary"> All Orders</span>
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">
  <ion-grid *ngIf="this.taskstate==0" fixed>
    <ion-row>
      <ion-col col-12>

        <ion-card class="primary-bg" margin-top>
          <ion-card-content>
            <p text-center class="text-white">You have no {{this.title}} </p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar  *ngIf="this.taskstate!=0"  [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>

  <ion-grid no-padding fixed>

    <ion-row>
      <ion-col no-padding col-12>
        <ion-list>

          <ion-item-sliding *ngFor="let order of alltasks">
            <button ion-item (click)="itemTapped(order)" [ngClass]="{'light-bg': !order.Status=='approved'}">
              <h2 [ngClass]="{'fw700': order.Status=='approved||unpaid'}">
                <ion-icon name="mail" color="primary" *ngIf="order.Status=='approved'"></ion-icon>
                <ion-icon name="mail" color="primary" *ngIf="order.Status=='transit'"></ion-icon>
                <ion-icon name="mail-open" color="primary" *ngIf="order.Status=='unpaid'"></ion-icon>
                {{order.Tracer}} <span small>({{this.order.Status}})</span>
              </h2>
              <p>{{order.Package}} ∙ {{order.date | date: 'MM/dd/yyyy'}}</p>
            </button>
            <ion-item-options>
              <button ion-button color="danger" (click)="deleteItem(order)">Delete</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <div>
      <ion-fab right bottom>
        <button ion-fab color="danger" (click)="create()">

          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </ion-row>
</ion-content>