<ion-content padding  padding style=" background-image: url('../../assets/imgs/back.png')">
  <div>
    <div align="center">
      <img class="logo" src="../../assets/img/logo.png" />
    </div>
    <div class="vertical-aligned">
      <form [formGroup]='loginForm'>
        <ion-item id="rounded-input" no-padding no-lines>
          <ion-icon color="dark" item-left name="md-mail"></ion-icon>
          <ion-input placeholder="Email Address" type='email' formControlName='username'></ion-input>
        </ion-item>
        <p class="error-text" text-center
          *ngIf='!loginForm.controls.username.valid && loginForm.controls.username.dirty'>Enter
          a valid email address</p>
        <ion-item id="rounded-input" no-padding no-lines>
          <ion-icon color="dark" item-left name="md-lock"></ion-icon>
          <ion-input placeholder="Password" type='{{inputType}}' formControlName='password'></ion-input>
          <button style="font-size: 18pt;" *ngIf='inputType === "password"' ion-button item-right clear
            (click)='switchInputType("text")'>
            <ion-icon color="dark" name="md-eye"></ion-icon>
          </button>
          <button style="font-size: 18pt;" *ngIf='inputType === "text"' ion-button item-right clear
            (click)='switchInputType("password")'>
            <ion-icon item-right color="dark" name="md-eye-off"></ion-icon>
          </button>
        </ion-item>
        <p class="error-text" text-center
          *ngIf='!loginForm.controls.password.valid && loginForm.controls.password.dirty'>Enter
          a valid password</p>
        <p class="prompt-text" (click)="forgotPass()" text-right>Forgot Password?</p>
      </form>
    </div>
    <div>
      <button class="login-button" ion-button full  color="dark" 
        (click)="signIn()">Sign
        In</button>
    </div>
    <p class="prompt-text" text-center (click)="newUser()">Don't have an account? <span ion-text color="dark"><u>Register.</u></span></p>
  </div>
 
  <ion-grid class="btn-group" >
      <p text-center ion-text color="dark">Or Sign Up with:</p>
    <ion-row>
      <!-- <button ion-button icon-only block class="btn-facebook col col-4">
        <ion-icon name="logo-facebook"></ion-icon>
      </button> -->
      <!-- <button ion-button icon-only block class="btn-twitter col col-4">
        <ion-icon name="logo-twitter"></ion-icon>
      </button> -->
      <button ion-button icon-only block class="btn-gplus col col-4">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>