<!-- -->
<ion-header  class="no-shadow">

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" color="dark"></ion-icon>
		</button>
		<ion-title>
			<span ion-text color="">Order details</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="common-bg">
	<ion-grid fixed no-padding>
		<ion-row>
			<ion-col no-padding>
				<!-- User settings-->
				<ion-item-group>
          <ion-item-divider color="dark" class="bold">Package Details</ion-item-divider>
          <ion-item>
						<ion-label>tracer</ion-label>
						<ion-label text-right margin-left>{{this.tracer}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Category</ion-label>
						<ion-label text-right margin-left>{{this.Shipment_Category}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>weight</ion-label>
						<ion-label text-right margin-left>{{this.weight}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Height</ion-label>
						<ion-label text-right margin-left>{{this.height}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Width</ion-label>
						<ion-label text-right margin-left>{{this.width}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Length</ion-label>
						<ion-label text-right margin-left>{{this.length}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>payment</ion-label>
						<ion-label text-right margin-left>{{this.payment}}</ion-label>

					</ion-item>
				 <ion-item style="margin-left: 110px;">
					<img *ngIf="displayQrCode()" [src]="generated" />
					</ion-item>
					<!-- <ion-item>
						<ion-label>Units</ion-label>
						<ion-select [(ngModel)]="munits" cancelText="Cancel" okText="OK">
							<ion-option value="F" selected="true">Foots (ft²)</ion-option>
							<ion-option value="M">Meters (m²)</ion-option>
						</ion-select>
					</ion-item> -->

				</ion-item-group>
				<!-- App settings-->
      </ion-col>
      </ion-row>
      
				
	</ion-grid>

	<!--sign out button-->
	<!-- <button ion-button color="primary" full tappable (click)="logout()">LOG OUT</button> -->

</ion-content>