<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu" color="primary"></ion-icon>
      </button>
      <ion-title>
        <span ion-text color="primary">Your Order</span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="yourproperty lightest-bg">
  
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-card class="primary-bg">
            <ion-card-content>
              <p class="text-white">Sender Details</p>
            </ion-card-content>
          </ion-card>
  
          <ion-card>
            <ion-card-content>
              <form  [formGroup]='OrderStep2' class="list-form">
                <ion-list margin-bottom>
                          
                  <ion-item>
                    <ion-label color="primary" stacked>Sender Name:</ion-label>
                    <ion-input type="text"  formControlName='name' placeholder="Type here..."></ion-input>
                  </ion-item>
                  <p style="color:red" text-center
                  *ngIf='!OrderStep2.controls.name.valid && OrderStep2.controls.name.dirty'>Enter your Name
               </p>
  
  
                  <ion-item>
                    <ion-label color="primary" stacked>Phone Number:</ion-label>
                    <ion-input type="text"  formControlName='phone' placeholder="Type here..."></ion-input>
                  </ion-item>
                    <p style="color:red" text-center
                  *ngIf='!OrderStep2.controls.phone.valid && OrderStep2.controls.phone.dirty'>Enter your phone number
               </p>
                 
  
                  <ion-item>
                    <ion-label color="primary" stacked>Address:</ion-label>
                    <ion-input type="text"  formControlName='address'  placeholder="Type here..."></ion-input>
                  </ion-item>
                  <p style="color:red" text-center
                  *ngIf='!OrderStep2.controls.address.valid && OrderStep2.controls.address.dirty'>Enter your address
               </p>
  
                  <ion-item>
                    <ion-label color="primary" stacked>Email:</ion-label>
                    <ion-input type="text"  formControlName='email' placeholder="Type here..."></ion-input>
                    <p style="color:red" text-center
                    *ngIf='!OrderStep2.controls.email.valid && OrderStep2.controls.email.dirty'>Enter your email address
                 </p>

                  </ion-item>
                      <ion-item>
                    <ion-label color="primary" stacked>Location</ion-label>
                    <ion-input type="text"  formControlName='location'  placeholder="Type here..."></ion-input>
                  </ion-item>
              <p style="color:red" text-center
                  *ngIf='!OrderStep2.controls.location.valid && OrderStep2.controls.location.dirty'>Enter package width
               </p>
   
                </ion-list>
  
  
  
                <button ion-button block color="dark" (click)="next()" [disabled]='!OrderStep2.valid'>Next</button>
              </form>
            </ion-card-content>
          </ion-card>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>