<ion-content padding class="profiles-bg">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="../../assets/img/logo.png">
			</div>
			<!-- <h2 ion-text class="text-white" no-margin>
				Utunzi<strong>Invoice</strong>
			</h2> -->
		</div>

		<div padding-vertical>
			<ion-segment [(ngModel)]="auth" color="light">
				<ion-segment-button value="login">
					Login
				</ion-segment-button>
				<ion-segment-button value="register">
					Register
				</ion-segment-button>
			</ion-segment>
		</div>

		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm" *ngSwitchCase="'login'">
				<form [formGroup]="onLoginForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="ios-mail" item-start class="text-white"></ion-icon>
							Email
						</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
					</ion-item>

					<p style="color:red" text-center
						*ngIf='!onLoginForm.controls.email.valid && onLoginForm.controls.email.dirty'>Enter
						a valid email</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="ios-lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" type='{{inputType}}' formControlName="password"></ion-input>
						<button style="font-size: 18pt;" *ngIf='inputType === "password"' ion-button item-right clear
							(click)='switchInputType("text")'>
							<ion-icon color="secondary" name="md-eye"></ion-icon>
						</button>
						<button style="font-size: 18pt;" *ngIf='inputType === "text"' ion-button item-right clear
							(click)='switchInputType("password")'>
							<ion-icon item-right color="secondary" name="md-eye-off"></ion-icon>
						</button>


					</ion-item>
					<p ion-text color="danger" class="text-1x has-error"
						*ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
						This field is required</p>
				</form>

			

				<div>
					<button ion-button icon-start block outline color="light" (click)="login()"
						[disabled]="!onLoginForm.valid">
						<ion-icon name="log-in"></ion-icon>
						SIGN IN
					</button>

					<p text-center ion-text color="light">Or Sign in with:</p>

					<ion-grid class="btn-group">
						<ion-row>
							<button ion-button icon-only block class="btn-facebook col col-4" (click)="facebook()">
								<ion-icon name="logo-facebook"></ion-icon>
							</button>

							<button ion-button icon-only block class="btn-gplus col col-4" (click)="gmail()">
								<ion-icon name="logo-google"></ion-icon>
							</button>
						</ion-row>
					</ion-grid>

				</div>
			</div>

			<div id="registerForm" *ngSwitchCase="'register'">
				<!-- Register form -->
				<form [formGroup]="onRegisterForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="ios-person" item-start class="text-white"></ion-icon>
							Name
						</ion-label>
						<ion-input type="name" formControlName="name"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>
							<ion-icon name="ios-mail" item-start class="text-white"></ion-icon>
							Email
						</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
					</ion-item>

					<p style="color:red" text-center
						*ngIf='!onRegisterForm.controls.email.valid && onRegisterForm.controls.email.dirty'>Enter
						a valid email</p>


					<ion-item>
						<ion-label floating>
							<ion-icon name="ios-lock" item-start class="text-white"></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" type='{{inputType}}' formControlName="password"></ion-input>
						<button style="font-size: 18pt;" *ngIf='inputType === "password"' ion-button item-right clear
							(click)='switchInputType("text")'>
							<ion-icon color="secondary" name="md-eye"></ion-icon>
						</button>
						<button style="font-size: 18pt;" *ngIf='inputType === "text"' ion-button item-right clear
							(click)='switchInputType("password")'>
							<ion-icon item-right color="secondary" name="md-eye-off"></ion-icon>
						</button>


					</ion-item>
					<p style="color:red" text-center
						*ngIf='!onRegisterForm.controls.password.valid && onRegisterForm.controls.password.dirty'>Enter
						a valid password</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="ios-lock" item-start class="text-white"></ion-icon>
							Confirm Password
						</ion-label>
						<ion-input type="password" type='{{inputType}}' formControlName="passwordConfirmation">
						</ion-input>
						<button style="font-size: 18pt;" *ngIf='inputType === "password"' ion-button item-right clear
							(click)='switchInputType("text")'>
							<ion-icon color="primary" name="md-eye"></ion-icon>
						</button>
						<button style="font-size: 18pt;" *ngIf='inputType === "text"' ion-button item-right clear
							(click)='switchInputType("password")'>
							<ion-icon item-right color="secondary" name="md-eye-off"></ion-icon>
						</button>


					</ion-item>
					<p style="color: red" text-center
						*ngIf='onRegisterForm.controls.password.value != onRegisterForm.controls.passwordConfirmation.value && onRegisterForm.controls.passwordConfirmation.dirty'>
						Password
						do not match</p>


				</form>


				<div margin-top>
					<button ion-button block outline color="light" (click)="register()"
						[disabled]="!onRegisterForm.valid">
						SIGN UP
					</button>

					<p text-center ion-text color="light">Or Sign Up with:</p>

					<ion-grid class="btn-group">
						<ion-row>
							<button ion-button icon-only block class="btn-facebook col col-4" (click)="facebook()">
								<ion-icon name="logo-facebook"></ion-icon>
							</button>
							<!-- <button ion-button icon-only block class="btn-twitter col col-4">
		            <ion-icon name="logo-twitter"></ion-icon>
		          </button> -->
							<button (click)="google()" ion-button icon-only block class="btn-gplus col col-4">
								<ion-icon name="logo-googleplus"></ion-icon>
							</button>
						</ion-row>
					</ion-grid>
				</div>
			</div>

		</div>


	</div>
</ion-content>