<!-- -->
<ion-header  class="no-shadow">

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" color="dark"></ion-icon>
		</button>
		<ion-title>
			<span ion-text color="">Task details</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="common-bg">
	<ion-grid fixed no-padding>
		<ion-row>
			<ion-col no-padding>
				<!-- User settings-->
				<ion-item-group>
          <ion-item-divider color="dark" class="bold">Package Details</ion-item-divider>
          <ion-item>
						<ion-label>tracer</ion-label>
						<ion-label text-right margin-left>{{this.tracer}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Package </ion-label>
						<ion-label text-right margin-left>{{this.package}}</ion-label>

          </ion-item>
          <ion-item>
              <ion-label>Location </ion-label>
              <ion-label text-right margin-left>{{this.pickup}}</ion-label>
  
            </ion-item>
            <ion-item>
                <ion-label>Destination </ion-label>
                <ion-label text-right margin-left>{{this.destination}}</ion-label>
    
              </ion-item>
					<ion-item>
						<ion-label>Status</ion-label>
						<ion-label text-right margin-left>{{this.status}}</ion-label>

					</ion-item>
				
			

				</ion-item-group>
				<!-- App settings-->
      </ion-col>
      </ion-row>
      
				
	</ion-grid>
<ion-row>
  <ion-col>
    <button ion-button color="primary"  full tappable (click)="movestatus()">
       <span *ngIf="this.status=='approved'">Accept</span>
       <span *ngIf="this.status=='transit'">Finish Delivery</span>
      </button> 
  </ion-col>
  <ion-col *ngIf="this.status=='approved'">
    <button ion-button color="danger" full tappable (click)="cancel()">Cancel</button> 
  </ion-col>
</ion-row>
<ion-textarea  rows="1" maxLength="500"></ion-textarea>
 
 
</ion-content>