page-user-registration {
      .logo {
          width: 30%;
          height: 30%;
          margin-top: 2%;
      }

      .vertical-aligned {
          margin-top: 3%;
      }

      .signup-button {
          margin: 8% 3% 0% 3%;
          width: 60%;
          height: 45px;
      }

      .input-icon {
          margin: 0px;
      }

      .prompt-text {
          font-size: 12pt;
          font-weight: 500;
          color: rgb(63, 63, 63);
      }

      .error-text {
          font-size: 12pt;
          color: red;
          margin-top: 2%;
      }
      .profile-photo {
          border-radius: 50% !important;
          width: 35%;
          height: 35%;
          overflow: hidden;
        }
        
        .profile-name {
          font-size: 12pt;
          color: white;
          font-weight: 600;
        }
        
        #rounded-input {
          border-radius: 5px; 
          border-top: 1px solid #463dc6;
          border-right: 1px solid #463dc6;
          border-left: 1px solid #463dc6;
          border-bottom: 1px solid #463dc6;
          margin-top: 12px;
          padding-left: 10px;
        }
        
        #lined-input {
        
          border-bottom: 1px solid #463dc6;
          margin-top: 4%;
          margin-left: 10px;
          margin-bottom: 2%;
        }
        
        .menu {
          background: #ff6f00;
        }
        
        .scroll-content {
          padding-bottom: 0 !important;
        }
        
        .item-md.item-input .item-inner { border-bottom-color: transparent !important; box-shadow: none !important; } 
}