<!-- -->
<ion-header  class="no-shadow">

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" color="dark"></ion-icon>
		</button>
		<ion-title>
			<span ion-text color="">Order details</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="common-bg">
	<ion-grid fixed no-padding>
		<ion-row>
			<ion-col no-padding>
				<!-- User settings-->
				<ion-item-group>
					<ion-item-divider color="dark" class="bold">Package Details</ion-item-divider>
					<ion-item>
						<ion-label>Category</ion-label>
						<ion-label text-right margin-left>{{this.category}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>weight</ion-label>
						<ion-label text-right margin-left>{{this.weight}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Height</ion-label>
						<ion-label text-right margin-left>{{this.height}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Width</ion-label>
						<ion-label text-right margin-left>{{this.width}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>Length</ion-label>
						<ion-label text-right margin-left>{{this.length}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>payment</ion-label>
						<ion-label text-right margin-left>{{this.payment}}</ion-label>

					</ion-item>
					<!-- <ion-item>
						<ion-label>Currency</ion-label>
						<ion-select [(ngModel)]="currency" cancelText="Cancel" okText="OK">
							<ion-option value="USD" selected="true">U.S Dollar (US$)</ion-option>
							<ion-option value="EUR">Euro (€)</ion-option>
							<ion-option value="GBP">Pound (£)</ion-option>
							<ion-option value="BRL">Brazilian Real (R$)</ion-option>
							<ion-option value="CNY">Chinese Yuan</ion-option>
						</ion-select>
					</ion-item> -->
					<!-- <ion-item>
						<ion-label>Units</ion-label>
						<ion-select [(ngModel)]="munits" cancelText="Cancel" okText="OK">
							<ion-option value="F" selected="true">Foots (ft²)</ion-option>
							<ion-option value="M">Meters (m²)</ion-option>
						</ion-select>
					</ion-item> -->

				</ion-item-group>
				<!-- App settings-->
				<ion-item-group>
					<ion-item-divider color="dark" class="bold">Sender Details</ion-item-divider>
					<ion-item>
						<ion-label>Name</ion-label>
						<ion-label text-right margin-left>{{this.sendername}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>email</ion-label>
						<ion-label text-right margin-left>{{this.senderemail}}</ion-label>
					</ion-item>
				</ion-item-group>
				<ion-item>
					<ion-label>Phone Number</ion-label>
					<ion-label text-right margin-left>{{this.sendermobile}}</ion-label>

				</ion-item>
				<ion-item>
					<ion-label>Address</ion-label>
					<ion-label text-right margin-left>{{this.senderaddress}}</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Location</ion-label>
					<ion-label text-right margin-left>{{this.senderlocation}}</ion-label>

				</ion-item>
				<ion-item-group>
					<ion-item-divider color="dark" class="bold">Recipient Details</ion-item-divider>
					
					<ion-item>
						<ion-label>Name</ion-label>
						<ion-label text-right margin-left>{{this.receivername}}</ion-label>

					</ion-item>
					<ion-item>
						<ion-label>email</ion-label>
						<ion-label text-right margin-left>{{this.receiveremail}}</ion-label>
					</ion-item>
				</ion-item-group>
				<ion-item>
					<ion-label>Phone Number</ion-label>
					<ion-label text-right margin-left>{{this.receiverphone}}</ion-label>

				</ion-item>
				<ion-item>
					<ion-label>Address</ion-label>
					<ion-label text-right margin-left>{{this.address}}</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Location</ion-label>
					<ion-label text-right margin-left>{{this.receiverlocation}}</ion-label>

				</ion-item>
					
				
			</ion-col>
		</ion-row>
	</ion-grid>

	<!--sign out button-->
	<!-- <button ion-button color="primary" full tappable (click)="logout()">LOG OUT</button> -->

</ion-content>