<ion-content style="background-image: url('../../assets/img/main_background.png')">
  <div style="background-color: #0c7262;height:40px">
      <ion-row>
          <ion-col cols-1>
            <ion-icon (click)="cancel()" ios="ios-close-circle" md="md-close-circle"></ion-icon>
          </ion-col>
          <ion-col cols-10>
            <p style="font-size: 16px;margin-top: 3px;font-size: 14px;"><b> Cancel Dellivery</b></p>
           
          </ion-col>
          <ion-col  cols-1>
            <ion-icon (click)="addtodatabase()" style="float:right;" ios="ios-checkmark-circle" md="md-checkmark-circle">
            </ion-icon>
          </ion-col>
        
          
        </ion-row>
    
  </div>
  <div style="margin-top: 20px">

   
    <ion-item style="margin-top: 20px">
      <ion-label color="primary" stacked>
        <b>Reason for Cancelling </b>
        :</ion-label>
      <ion-textarea [(ngModel)]="canceldetails.message" ></ion-textarea>
    
    </ion-item>

  </div>
</ion-content>
