<ion-split-pane when="lg">
	<ion-menu side="left" id="authenticated" [content]="content" class="menu-bg">
		<ion-header>
			<ion-toolbar class="user-profile profiles-bg">
				<div class="user-profile">
					<ion-list no-margin>
						<ion-item (click)="account()">

							<ion-avatar item-left>
								<img src="assets/img/src.png">
							</ion-avatar>

							<h2 ion-text class="text-white fw700 text-15x">
								{{this.restProvider.name}}
							</h2>
							<h2 ion-text class="text-white fw700 text-15x">
								<small>{{this.restProvider.email}}</small>
							</h2>
						</ion-item>
					</ion-list>
					<ion-grid no-padding>
						<ion-row class="other-data">
							<ion-col text-center class="column">
								<button ion-button icon-start small full menuClose no-margin color="dark"
									(click)="account()">
									<ion-icon name="ios-contact"></ion-icon>
									My Profile
								</button>
							</ion-col>
							<ion-col text-center class="column">
								<button ion-button icon-start small full menuClose no-margin color="dark"
									(click)="logout()">
									<ion-icon name="ios-log-out"></ion-icon>
									Log Out
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list *ngIf="this.restProvider.role==2">
				<button menuClose ion-item (click)="openPage('HomePage','1')">
					<ion-icon item-left name="ios-home"></ion-icon>
					All orders({{this.restProvider.allcount }})
				</button>
				<button menuClose ion-item (click)="openPage('SpecificordersPage','2')">

					<ion-icon item-left ios="ios-pause" md="md-pause"></ion-icon>
					Pending Orders({{this.restProvider.pendingCount}})
				</button>
				<button menuClose ion-item (click)="openPage('SpecificordersPage','3')">
					<ion-icon item-left ios="ios-compass" md="md-compass"></ion-icon>
					Processing Orders({{this.restProvider.processingCount}})
				</button>
				<button menuClose ion-item (click)="openPage('SpecificordersPage','4')">
					<ion-icon item-left ios="ios-done-all" md="md-done-all"></ion-icon>
					Complete Orders({{this.restProvider.completeCount}})
				</button>

				<button menuClose ion-item (click)="openPage(invoicesItem)">
					<ion-icon item-left name="list-box"></ion-icon>
					Invoices
				</button>
			</ion-list>

			<ion-list *ngIf="this.restProvider.role==3">
				
				<button menuClose ion-item (click)="openPage('MydutiesPage','1')">
					<ion-icon item-left name="apps"></ion-icon>
					My Duties({{this.restProvider.approvedCount }})
				</button>
				<button menuClose ion-item (click)="openPage('Homepage2Page','2')">
					<ion-icon item-left name="aperture"></ion-icon>
					On Transit({{this.restProvider.intransitCount }})
				</button>
				<button menuClose ion-item (click)="openPage('Homepage2Page','3')">
						<ion-icon item-left name="checkmark-circle-outline"></ion-icon>
						Delivered({{this.restProvider.unpaidCount }})
					</button>
					<button menuClose ion-item (click)="openPage('Homepage2Page','4')">
							<ion-icon item-left name="apps"></ion-icon>
							All Orders({{this.restProvider.approvedCount }})
						</button>
			</ion-list>
			<ion-list>                                                                       
				<ion-list-header no-margin>
					<span ion-text color="dark" class="fw500">Help</span>
				</ion-list-header>
				<button menuClose ion-item *ngFor="let menuItem of helpMenuItems" (click)="openPage(menuItem)">
					<ion-icon item-left [name]="menuItem.icon"></ion-icon>
					{{menuItem.title}}
				</button>
			</ion-list>


		</ion-content>

	</ion-menu>

	<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>