<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>
      <span ion-text color="primary">Your Order</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="yourproperty lightest-bg">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card class="primary-bg">
          <ion-card-content>
            <p class="text-white">Package Details</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <form [formGroup]='OrderStep1' class="list-form">
              <ion-list margin-bottom>
                <ion-item>
                  <ion-label color="primary">Package Category</ion-label>
                  <ion-select (ionSelect)="ridetype()" formControlName='category' >
                    <ion-option *ngFor="let item of categories" value="{{item.id}}">{{item.name}}</ion-option>
                  </ion-select>
                </ion-item>
                <p style="color:red" text-center
                  *ngIf='!OrderStep1.controls.category.valid && OrderStep1.controls.category.dirty'>select
                  category</p>
                <ion-item>
                  <ion-label color="primary" stacked>Quantity:</ion-label>
                  <ion-input type="text" formControlName='quantity' placeholder="Type here..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                  *ngIf='!OrderStep1.controls.quantity.valid && OrderStep1.controls.quantity.dirty'>Enter package
                  quantity</p>
                <ion-item>
                  <ion-label color="primary" stacked>Weight:</ion-label>
                  <ion-input type="text" formControlName='weight' placeholder="Type here..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                  *ngIf='!OrderStep1.controls.weight.valid && OrderStep1.controls.weight.dirty'>Enter package weight</p>
                <ion-item>
                  <ion-label color="primary" stacked>length:</ion-label>
                  <ion-input type="text" formControlName='length' placeholder="Type here..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                  *ngIf='!OrderStep1.controls.length.valid && OrderStep1.controls.length.dirty'>Enter package length</p>
                <ion-item>
                  <ion-label color="primary" stacked>Height:</ion-label>
                  <ion-input type="text" formControlName='height' placeholder="Type here..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                  *ngIf='!OrderStep1.controls.height.valid && OrderStep1.controls.height.dirty'>Enter package height</p>
                <ion-item>
                  <ion-label color="primary" stacked>Width:</ion-label>
                  <ion-input type="text" formControlName='width' placeholder="Type here..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                  *ngIf='!OrderStep1.controls.width.valid && OrderStep1.controls.width.dirty'>Enter package width
                </p>

                <ion-item>
                  <ion-label color="primary">Payment option</ion-label>
                  <ion-select formControlName='payment' >
                    <ion-option *ngFor="let item of payments"  value="{{item.id}}">{{item.name}}</ion-option>
                  </ion-select>
                </ion-item>
                <p style="color:red" text-center
                  *ngIf='!OrderStep1.controls.payment.valid && OrderStep1.controls.payment.dirty'>Enter Payment
                </p>
              </ion-list>
              <button ion-button block color="dark" (click)="next()" [disabled]='!OrderStep1.valid'>Next</button>
            </form>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>