page-new-order-step1 {
    .item {
		padding-left: 0;
		&.item-block {
			.item-inner {
			  border-style: solid;
			  border-width: 1px;
			  border-color: transparent;
			  border-bottom-color: rgba(color($colors, primary), .2);
			}
		}
    }
}
