<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title>
      <span ion-text color="primary">Your Order</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="yourproperty lightest-bg">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card class="primary-bg">
          <ion-card-content>
            <p class="text-white">Reciever Details</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <form [formGroup]='OrderStep3' class="list-form">
              <ion-list margin-bottom>

                <ion-item>
                  <ion-label color="primary" stacked>Reciever Name:</ion-label>
                  <ion-input formControlName='reecievername' type="text" placeholder="Type here..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                *ngIf='!OrderStep3.controls.reecievername.valid && OrderStep3.controls.reecievername.dirty'>Enter your email address
             </p>


                <ion-item>
                  <ion-label color="primary" stacked>Phone Number:</ion-label>
                  <ion-input type="text" formControlName='receiverphone' placeholder="Type here..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                *ngIf='!OrderStep3.controls.receiverphone.valid && OrderStep3.controls.receiverphone.dirty'>Enter your email address
             </p>




                <ion-item>
                  <ion-label color="primary" stacked>Address:</ion-label>
                  <ion-input type="number" formControlName='receiveraddress' placeholder="Ex.: 300-7..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                *ngIf='!OrderStep3.controls.receiveraddress.valid && OrderStep3.controls.receiveraddress.dirty'>Enter your email address
             </p>

                <ion-item>
                  <ion-label color="primary" stacked>Email:</ion-label>
                  <ion-input type="text" formControlName='receiveremail' placeholder="d@gmail.com"></ion-input>
                </ion-item>
                <p style="color:red" text-center
                *ngIf='!OrderStep3.controls.receiveremail.valid && OrderStep3.controls.receiveremail.dirty'>Enter your email address
             </p>

                <ion-item>
                  <ion-label color="primary" stacked>Location</ion-label>
                  <ion-input type="text" formControlName='receiverlocation' placeholder="naku..."></ion-input>
                </ion-item>
                <p style="color:red" text-center
                *ngIf='!OrderStep3.controls.receiverlocation.valid && OrderStep3.controls.receiverlocation.dirty'>Enter your email address
             </p>
              </ion-list>
              <button ion-button block color="dark" (click)="next()" [disabled]='!OrderStep3.valid'>Submit</button>
            </form>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>